@import "tailwindcss";

:root {
  --background: oklch(1 0 0);
  --foreground: #171717;
  --background2: #F0F0F0;
  --primaryText: #696666;
  --buttonBg2: #8baf08;
  --buttonBg: #5c7505;
}

@theme inline {
    --color-primary: var(--primaryText);
  --color-btn: var(--buttonBg);
  --color-btntwo: var(--buttonBg2);
   --color-background: var(--background);
   --color-background2 : var(--background2);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
